@import "utils/variables";
@import "utils/mixins";
@import "utils/animations";

@import "base/reset";

@import "components/canvas";
@import "components/hero";
@import "components/nav";
@import "components/section";
@import "components/timeline";



main{
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - $nav-width);
    margin-left: $nav-width;
    overflow: hidden;
    cursor: crosshair;
    scroll-behavior: smooth;
}

