@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lexend+Deca:wght@100..900&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scrollCta {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scaleRotate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0f0f0f;
  scroll-behavior: smooth;
}

html, body {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scrollCta {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scaleRotate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#HeroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#HeroSection h1 {
  font-size: 10rem;
  font-family: "Bodoni Moda", serif;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 300;
  height: 75%;
  line-height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}
#HeroSection h2 {
  font-size: 2rem;
  font-family: "Lexend Deca", sans-serif;
  animation: fadeIn 3s ease-in-out;
}
#HeroSection p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  animation: fadeIn 4s ease-in-out;
}
#HeroSection .scrollCta {
  padding: 0.75rem 1.5rem;
  border: #0f0f0f solid 1px;
  color: #0f0f0f;
  border-radius: 0.5rem;
  animation: fadeIn 2s ease-in-out;
  text-decoration: none;
}
#HeroSection .scrollCta:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgba(208, 208, 208, 0.3450980392);
}
#HeroSection .scrollIcon {
  animation: scale 2 ease-in;
  width: 1px;
  height: 40px;
  background-color: #0f0f0f;
  animation: fadeIn 2s ease-in-out, scrollCta 3s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scrollCta {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scaleRotate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset -13px 0px 16px -8px rgba(255, 255, 255, 0.8);
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#nav .logo {
  width: 60px;
  height: 60px;
  animation: scaleRotate 4s ease-in-out infinite alternate;
  cursor: pointer;
}
#nav .logo:last-child {
  width: 48px;
  height: 48px;
  padding: 0.2rem;
  align-self: flex-end;
  animation: pulse 2s ease-in-out infinite;
}
#nav ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#nav ul li {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#nav ul li.active {
  transition: all 1s ease-in-out;
  font-weight: 500;
  text-decoration: underline;
}
#nav ul li.active a {
  transition: all 1s ease-in-out;
  color: #0f0f0f;
  opacity: 1;
}
#nav ul a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b0b0b0;
  opacity: 0.5;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}
section h2 {
  font-size: 2rem;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 1rem;
}
section p {
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 2rem;
}

#timelineSection {
  height: 400vh;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 5rem !important;
}
#timelineSection .timelineSectionHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-inline: 5rem;
}

#motivationSection {
  padding: 15rem;
  gap: 10rem;
  height: 100%;
}
#motivationSection .motivationGauche {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1rem;
}
#motivationSection .motivationDroite {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  gap: 1rem;
}
#motivationSection h3 {
  font-size: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
#motivationSection p {
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  width: 500px;
}

#projectSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 10rem;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}

.timeline-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  margin-block: 5rem;
}
.timeline-container .timeline-track {
  position: relative;
  width: 100%;
  overflow: visible;
  margin-left: 25%;
  margin-block: 10rem;
}
.timeline-container .timeline-track #timeline {
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: -moz-max-content;
  width: max-content;
  will-change: transform;
  margin-right: 400px;
}
.timeline-container .timeline-track #timeline::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b0b0b0;
  z-index: -1;
}
.timeline-container .timeline-track #timeline .timeline-item {
  position: relative;
  min-width: 500px;
  max-width: 500px;
  margin-right: 100px;
  padding: 20px;
}
.timeline-container .timeline-track #timeline .timeline-item .timeline-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #0f0f0f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.timeline-container .timeline-track #timeline .timeline-item .timeline-content {
  background-color: #f5f5f5 0, 0, 0, 0.21;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 8px rgba(15, 15, 15, 0.101);
}
.timeline-container .timeline-track #timeline .timeline-item .timeline-content h3 {
  margin-top: 0;
  color: #b0b0b0;
}
.timeline-container .timeline-track #timeline .timeline-item .timeline-content p {
  margin-bottom: 0;
  color: #b0b0b0;
}
.timeline-container .timeline-track #timeline .timeline-item.active .timeline-content {
  transition: all 0.3s ease;
  background-color: #f5f5f5 0, 0, 0, 0.611;
  transform: scale(1.05);
  transform: translateY(0);
}
.timeline-container .timeline-track #timeline .timeline-item.active .timeline-content h3 {
  color: #0f0f0f;
}
.timeline-container .timeline-track #timeline .timeline-item.active .timeline-content p {
  color: #0f0f0f;
}
.timeline-container .timeline-progress {
  position: relative;
  height: 4px;
  margin-block: 14rem;
  background-color: #d0d0d0;
  border-radius: 2px;
}
.timeline-container .timeline-progress .timeline-progress-bar {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #b0b0b0;
  border-radius: 2px;
}

main {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 60px);
  margin-left: 60px;
  overflow: hidden;
  cursor: crosshair;
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */